<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>多趣味のためのバケットリスト.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7176FBE9210856590024B2D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7176FBFD2108565A0024B2D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7176FC082108565B0024B2D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
